<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVCGrup2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MVCGrup2.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" >
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" >
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="/Pictures/burger.png" alt="Logo">
                </a>

                <button class="d-lg-none navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse show" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        @{
                            string currentController = ViewBag.CurrentController;
                        }
                        <li class="nav-item">
                            <a class="btn-lg @(Context.Request.Path.StartsWithSegments("/Admin/Home") ? "current" : (Context.Request.Path.Equals("/Admin") ? "current" : "nav-link btn"))" href="@Url.Action("Index", "Home", new { area = "Admin" })">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-lg @(Context.Request.Path.StartsWithSegments("/Admin/Menu") ? "current" : "nav-link btn")" href="@Url.Action("Index", "Menu", new { area = "Admin" })">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-lg @(Context.Request.Path.StartsWithSegments("/Admin/ExtraMat") ? "current" : "nav-link btn")" href="@Url.Action("Index", "ExtraMat", new { area = "Admin" })">Extra Mats</a>
                        </li>
                    </ul>
                </div>
            </div>
                    <div class="custom-login-partial">
                            <partial name="_LoginPartial.cshtml">
                    </div>
        </nav>

    </header>

	
	<div class="custom-container">
		<main role="main" class="pb-3 admin-container">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - MVCGrup2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
								@await RenderSectionAsync("Scripts", required: false)
</body>
</html>