@model MVCGrup2.Entities.Concrete.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurgerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurgerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraMatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraMatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MVCGrup2UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MVCGrup2UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
